---
import { SITE } from 'astrowind:config';
---

<div class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center">
  <div class="font-mono font-bold text-2xl md:text-xl tracking-tight text-gray-900 dark:text-white">
    <span class="inline-block">how</span><span class="inline-block text-cyan-400">i</span><span class="inline-block">build</span><span class="inline-block text-cyan-400">.</span><span class="inline-block">ai</span>
  </div>
</div>
